body
	{	
		background: linear-gradient(270deg, #a64bf4,  #00dbde, #fc00ff, #23d5ab);
		background-size: 800% 800%;

		-webkit-animation: AnimationName 15s ease infinite;
		-moz-animation: AnimationName 15s ease infinite;
		-o-animation: AnimationName 15s ease infinite;
		animation: AnimationName 15s ease infinite;
	overflow: hidden;

}
@-webkit-keyframes AnimationName 
		{
		    0%{background-position:0% 50%}
		    50%{background-position:100% 50%}
		    100%{background-position:0% 50%}
		}
		@-moz-keyframes AnimationName
	    {
		    0%{background-position:0% 50%}
		    50%{background-position:100% 50%}
		    100%{background-position:0% 50%}
		}
		@-o-keyframes AnimationName 
		{
		    0%{background-position:0% 50%}
		    50%{background-position:100% 50%}
		    100%{background-position:0% 50%}
		}
		@keyframes AnimationName
	    {
		    0%{background-position:0% 50%}
		    50%{background-position:100% 50%}
		    100%{background-position:0% 50%}
		}
input
{
	padding: 10px;
	padding-left: 10px;
	border: none;
	border-bottom: 5px black;
	border-radius: 0px;

}
form
{
	    margin-left: 35%;
    padding-top: 17%;
    width: 30%;
}
#submit
{
	box-shadow: 0 5px 8px 0 rgba(117, 8, 8, 0.8), 0 9px 20px 0 rgba(177, 0, 0, 0.49);
	background-color: rgba(177, 0, 0, 0.49);
	color: white;
	border: 0px;
	border-radius: 0px;
	
}
#imgcode
{
width: 100%;
    height: 90;
}
